extends layout

block content
  .container
  h1= title
  .jumbotron.text-center
    h1= "Name: " + contact.name
  h2= "Email: " + contact.email
  h2= "Phone: " + contact.phone
  h2= "Birthday: " + contact.birthday
  h2= "Address: " + contact.address  
  h2= "Groups: " + contact.group  
  
  a.btn.btn-primary(href='/') Back
  button.btn.btn-danger#remove(data-index=index) Remove Contact
  hr
  hr
  hr

  h3 Edit Contact:
  .form-group
    label(for='name') Name
    input#name.form-control(type="text", value=contact.name)
  .form-group  
    label(for='email') Email
    input#email.form-control(type="text", value=contact.email)
  .form-group  
    label(for='phone') Phone Number
    input#phone.form-control(type="number", value=contact.phone)
  
  .form-group  
    label(for='birthday') Birthday
    input#birthday.form-control(type="date", value=contact.birthday)
  .form-group  
    label(for='group') Address
    input#address.form-control(type="text", value=contact.address)
  .form-group  
    label(for='group') Groups
    input#group.form-control(type="text", value=contact.group)
  
  a.btn.btn-primary(href='/') Back
  button.btn.btn-warning#edit(data-index=index) Confirm Edit

  
block scripts
  script(src='/js/showpage.js')

